OperatorLib/Connected Services/OperatorService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54420/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54420/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54420/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Database" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_IsClientLoginValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsClientLoginValid" />
  </wsdl:message>
  <wsdl:message name="IService_IsClientLoginValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsClientLoginValidResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsOperatorLoginValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOperatorLoginValid" />
  </wsdl:message>
  <wsdl:message name="IService_IsOperatorLoginValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsOperatorLoginValidResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClientAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientAccounts" />
  </wsdl:message>
  <wsdl:message name="IService_GetClientAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ChangeClientPin_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeClientPin" />
  </wsdl:message>
  <wsdl:message name="IService_ChangeClientPin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeClientPinResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateAccountTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountTotal" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateAccountTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccounts" />
  </wsdl:message>
  <wsdl:message name="IService_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAccountOffers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountOffers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAccountOffers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountOffersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTranzactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTranzactions" />
  </wsdl:message>
  <wsdl:message name="IService_GetTranzactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTranzactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="IsClientLoginValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsClientLoginValid" message="tns:IService_IsClientLoginValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsClientLoginValidResponse" message="tns:IService_IsClientLoginValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsOperatorLoginValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsOperatorLoginValid" message="tns:IService_IsOperatorLoginValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsOperatorLoginValidResponse" message="tns:IService_IsOperatorLoginValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClientAccounts" message="tns:IService_GetClientAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClientAccountsResponse" message="tns:IService_GetClientAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeClientPin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ChangeClientPin" message="tns:IService_ChangeClientPin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ChangeClientPinResponse" message="tns:IService_ChangeClientPin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateAccountTotal" message="tns:IService_UpdateAccountTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateAccountTotalResponse" message="tns:IService_UpdateAccountTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClients" message="tns:IService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClientsResponse" message="tns:IService_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAccounts" message="tns:IService_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAccountsResponse" message="tns:IService_GetAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountOffers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAccountOffers" message="tns:IService_GetAccountOffers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAccountOffersResponse" message="tns:IService_GetAccountOffers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTranzactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTranzactions" message="tns:IService_GetTranzactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTranzactionsResponse" message="tns:IService_GetTranzactions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsClientLoginValid">
      <soap:operation soapAction="http://tempuri.org/IService/IsClientLoginValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOperatorLoginValid">
      <soap:operation soapAction="http://tempuri.org/IService/IsOperatorLoginValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAccounts">
      <soap:operation soapAction="http://tempuri.org/IService/GetClientAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeClientPin">
      <soap:operation soapAction="http://tempuri.org/IService/ChangeClientPin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountTotal">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateAccountTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IService/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <soap:operation soapAction="http://tempuri.org/IService/GetAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountOffers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAccountOffers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTranzactions">
      <soap:operation soapAction="http://tempuri.org/IService/GetTranzactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:54420/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>